.Dentolearn {
    height: 150vh;
    background-color: black;
    display: flex;
    flex-direction: column;

    .headPart {
        flex: 1;
        display: flex;
        // display: inline-block;
        flex-direction: row;
        align-items: center;

        .leftCol {
            // height: 100%;
            flex: 1;
            align-items: center;
            display: flex;
            justify-content: center;
            // background-color: bisque;

            img {
                width: 50vmin;
                height: 52vmin;
            }
        }

        .rightCol {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 10vmin;
                color: white;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .headPart {

            display: flex;
            /* Stops it from floating */
            margin: auto;
            /* Ensures that it is centered */
            margin-bottom: 25px;
            /* Space between the stacked elements */
            align-items: center;
            flex-direction: column;
            justify-content: center;
            // background-color: antiquewhite;

            .leftCol {
                display: flex;
                flex-direction: column;

                // background-color: blue;
                // align-items: center;
                // justify-content: center;
                padding-top: 15vmin;

                img {

                    // width: 100%;
                    // height: 100%;
                }
            }

            .rightCol {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                // background-color: orange;
            }

        }


    }



    .bottomPart {
        flex: 1;
        align-items: center;
        justify-content: center;

        // background-color: rgb(43, 43, 43);
        h2 {
            font-size: 6vmin;
            color: white;
            padding-left: 10vmin;
        }

        h3 {
            font-size: 3vmin;
            color: white;
            font-weight: normal;
            padding-left: 10vmin;
        }
    }

    @media screen and (max-width: 1200px) {
        .bottomPart {
            flex: 1;
            align-items: center;
            justify-content: center;

            // text-align: center;
            h3 {
                text-align: center;
                padding-left: 10vmin;
                padding-right: 10vmin;

            }
        }
    }

}

@media screen and (max-width: 1200px) {
    .Dentolearn {
        height: fit-content;
    }
}