.Projects1 {
    .ProjectHeading {
        width: 100%;
        height: 70vmin;
        background-color: rgb(225, 225, 225);
        display: flex;

        .leftCol {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            // background-color: rgba(255, 16, 16, 0.5);
            h2 {
                font-size: 10vmin;
            }
        }

        .rightCol {
            flex: 1;
            display: flex;
            // flex-direction: row;
            align-items: center;
            justify-content: center;

            .playStoreImg {
                img {
                    width: 40vmin;
                    height: 40vmin;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .ProjectHeading {
            height: auto;
            display: flex;
            /* Stops it from floating */
            margin: auto;
            /* Ensures that it is centered */
            // margin-bottom: 25px;
            /* Space between the stacked elements */
            align-items: center;
            flex-direction: column;
            justify-content: center;
            // background-color: antiquewhite;
            text-align: center;

            .rightCol {
                padding-bottom: 20px;
            }
        }
    }

}